				@import url('https://fonts.googleapis.com/css?family=Lato');
				
				body {
					padding:100px 0px 0px;
					font-family: 'Lato', sans-serif;
					width: 100%;
					height: 100%;
					display: none;
					background: #e9eef3;
					
				}
				
				#cpBrand {
					padding:20px 20px 15px;
					position:fixed;
					top:0;
					left:0;
					right:0;
					background-color:#fff;
					z-index: 100;
					box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 4px 0px

				}
				
/*				.id {
					width:10px !important;
					overflow:hidden;
				}*/
				
				#cpBrand h1{
					display:inline-block;
					margin-top:13px;
					font-size:16px;
				}
				
				#cpBrand img {
					width:40px;
					margin-right:14px;
					margin-top:2px;
				}
				
				#cpBrand button{
					padding:5px 15px;
					background-color: #fff;
					border:1px solid #333;
					border:1px solid #767676;
					border-radius: 5px;
					float:right;
					margin-left:10px;
					color:#767676;
				}
				
				 .cpBrand {
					padding:5px 15px;
					background-color: #fff;
					border:1px solid #333;
					border:1px solid #767676;
					border-radius: 5px;
					color:#767676;
				}
				
				#cpBrand button:hover, .cpBrand:hover {
					background-color: #af282f;
					
					color:#fff;
				}
				
				.btn-primary {
					background: none;
					background-color: #af282f !important;
				}
				
				#prepHandoff .container {
				border:2px solid #e3e3e3;
				background-color:#ffffff;
				}
				
				#prepHandoff .cpBrand:not(:first-child) {
					margin-left:15px !important;
				}
				
				#prepTools h4{
					font-size:13px;
					font-weight:600;
					text-transform: uppercase;
					padding:10px 0px;
				}
				
				#prepHandoff .container{
					border-radius:10px;
					margin:10px auto;
				}

				
				#prepHandoff label{
					padding:5px 0px;
					font-weight:400;
					margin-top:0px;
					margin-bottom:0px;
					
				}
				
				#prepHandoff select {
					max-width:100%;
				}
				
				#prepHandoff form .row {
				padding:20px 20px;
				}
				
				#prepHandoff .checkbox{
					margin-left:30px;
					margin-bottom:0;
					margin-top:0;
				}
			
				#prepHandoff form .row:nth-child(odd){
					background-color:#F9F9F9;;
					
				}
				
				#prepHandoff .row:first-child{
					padding:20px;
					
				}
				
				#prepHandoff form .row{
					
					border-bottom:2px solid #e3e3e3;
				}
				
				.modal-body{
					max-height:300px;
					overflow:scroll;
				}
				

				
				
				#prepGuide .panel-heading {
					border-radius:0px;
					background-image:none;
					background-color:#fff;
					
				}
				
				#prepGuide .guideText {
					margin-top:0px;
					margin-bottom:20px;
				}
				
				#prepGuide .guideText p {
					
					margin-bottom:20px;
				}
				
				#prepGuide .panel {
					background-color:#F9F9F9;
				}
				
				#prepGuide .panel-body img {
					max-width:100%;
					max-height:350px;
					margin:0 auto;
				}
				
				#prepGuide label {
					display:block;
					margin-bottom:5px;
					margin-left:15px;
				}
				
				.carousel-control.left, .carousel-control.right {
					background:none;
				}
				
				.active {
					font-weight:bold !important;
					
				}
				#prepSplash {
					margin-top:50px;
					text-align: center;
					z-index: -10;
				}
				
				#prepSplash img{
					width:70vw;
					max-width:500px;
				}
				
				.btn {
					background:#fff;
					margin:0px 5px;
				}
				
				strong {font-weight: 700;}
				
				a.dropdown-toggle{
					color:#000;
				}
				
				input:focus {
					border-bottom:2px solid gray !important;
				}
				
				
				.folders {
					list-style-type: none;
					margin:4px 0px;
				}
				
				.folder {
					margin-left: -10px;
					padding-right: 10px;
					
				}
				
				.size {
					width:40% !important;
					display:inline-block;
				}
				
				#prepColor {
					/*width:100vw;
					height:100vh;*/
					padding-left:20px;
					margin:10px 0px;
					position:relative;
					height:auto;
				}
				
				table th, table td {
					padding: 7px 5px;
				}
				
				table tr {
					cursor:pointer;
				}
				
				table tr:nth-child(even) {
					background-color:#efefef;
				}
				
				table tr.active {
					background-color:#af282f;
					color:#fff;
				}
				
				.modal-dialog {
					width:700px;
				}
				
				.disabled {
					background-color:#efefef;
				}
				
				.colorThumb {
					display:inline-block;
					width:20px;
					height:20px;
					margin:3px;
					margin-top:12px;
					border-radius:50%;
				}
				
				@media (max-width: 600px) {
					.container {
						width:90%;
					}
					#cpBrand {
						text-align: center;
					}
					
					#prepHandoff label {
						margin-top:20px;
					}
					
					.dropdown-toggle {
						margin-top:20px;
						text-align:center;
					}
					#prepTools {
						margin-top:80px;
					}
					
					.guideText {
						margin-top:0px !important;
					}
				}
				